body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
    margin: 0;
    max-width: 300px;
    margin-left: 30px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.student-form {
    max-width: 300px;
    justify-content: flex-start;
}
.inp {
    margin-bottom: 15px;
}

button {
    text-transform: uppercase;
    width: calc(100% / 2);
    margin-left: calc(150px / 2);
}

.surname-header-cl{
    transition: background-color .3s;
}

.surname-header-cl:hover {
    cursor: pointer;
    background-color: rgb(220, 218, 218);
    color: black;
}

#age-header{
    transition: background-color .3s;
}

#age-header:hover {
    cursor: pointer;
    background-color: rgb(220, 218, 218);
    color: black;
}

#enrolled-header{
    transition: background-color.3s;
}

#enrolled-header:hover{
    cursor: pointer;
    background-color: rgb(220, 218, 218);
    color: black;
}

#faculty-header{
    transition: background-color.3s;
}

#faculty-header:hover {
    cursor: pointer;
    background-color: rgb(220, 218, 218);
    color: black;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

.form-control {
    width: calc(100% / 5);
    margin-right: 30px;
}

.filter-button {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    position: absolute;
    top: 40px;
    left: 745px;
}

.border-bottom {
    all: initial;
}

.table-responsive {
    margin-top: 80px;
}